<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>
	{% assign title = page.long_title | default: page.title %}
	{% if site.data[page.collection].strings.title != title %}
		{{ title }} |
	{% endif %}
	{{ site.data[page.collection].strings.title }}
</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% if site.data.rtl contains page.collection %}
	<link id="bootstrap-stylesheet" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.rtl.min.css" integrity="sha384-mUkCBeyHPdg0tqB6JDd+65Gpw5h/l8DKcCTV2D2UpaMMFd7Jo8A+mDAosaWgFBPl" crossorigin="anonymous">
{% else %}
	<link id="bootstrap-stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
{% endif %}

<link rel="stylesheet" type="text/css" media="screen" href="/assets/css/style.css">
<script src="/assets/js/theme.js"></script>

{% include favicon.html %}
{% include seo.html %}

{% if page.collection == "ic-IC" %}
	<script>
		var _jipt = [];
		_jipt.push(['project', 'ds-homebrew-wiki']);
		_jipt.push(['escape', function() {
			window.location.href = "http://wiki.ds-homebrew.com";
		}]);

		let langCheck = setInterval(() => {
			let selectedLang = document.getElementsByClassName("crowdin-jipt")?.[4]?.contentWindow.document.getElementById("jipt-target-languages").value;
			if(selectedLang) {
				clearInterval(langCheck);
				if(["he"].includes(selectedLang)) {
					document.dir = "rtl";
					let bootstrapStylesheet = document.getElementById("bootstrap-stylesheet");
					bootstrapStylesheet.integrity = "sha384-mUkCBeyHPdg0tqB6JDd+65Gpw5h/l8DKcCTV2D2UpaMMFd7Jo8A+mDAosaWgFBPl";
					bootstrapStylesheet.href = "https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.rtl.min.css";
				}
			}
		}, 500);
	</script>
	<script src="//cdn.crowdin.com/jipt/jipt.js"></script>
{% endif %}