---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.collection | default: "en-US" }}" {% if site.rtl contains page.collection %}dir="rtl"{% endif %}>
{% include head.html%}

<body>
	<div class="content">
		{% include nav.html %}

		<main>
			<div class="container-fluid main-content">
				{% include language-alert.html %}
				<div class="row pt-5">
					<div class="col-sm-1"></div>
					<div class="col-sm-10">
						{% include anchor-headings.html html=content anchorBody="<small>#</small>" anchorClass="header-anchor" %}
					</div>
				</div>
			</div>
		</main>
	</div>

	{% include footer.html %}

	{% include common-js.html %}
</body>
</html>