---
layout: wiki
---

{% assign faqs = content | markdownify | split: "<h4 " %}

{% unless faqs[0] contains "</h4>" %}
	{{ faqs[0] }}
{% endunless %}

<div class="accordion accordion-flush" id="faq-container">
	{% assign faqs = faqs | where_exp: "faq", "faq contains '</h4>'" %}
	{% for faq in faqs %}
		{% assign id = faq | split: "</h4>" | first | split: ">" | first | replace: "id=", "" | replace: '"', "" %}
		<details class="accordian-item" id="faq-{{ id }}">
			<summary class="accordion-header accordion-button collapsed flex-fill" onclick="setFaq('{{ id }}')">
				{{ faq | split: "</h4>" | first | split: ">" | last }}
			</summary>
			<div class="faq accordion-collapse">
				<div class="accordion-body">
					{{ faq | split: "</h4>" | last }}
				</div>
			</div>
		</details>
	{% endfor %}
</div>

<script src="/assets/js/faq.js"></script>
