---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: "en-US" }}" {% if site.data.rtl contains page.collection %}dir="rtl"{% endif %}>
<head>
	{% include head.html %}
</head>
<body>
	<div class="content">
		{% include nav.html %}

		<main>
			<div class="container-fluid main-content">
				{% include language-alert.html %}
				<div class="row mt-3">
					<div class="col-md-3">
						<div class="rounded-3 sidebar-container mb-3 p-3">
							{% comment %} Get category list {% endcomment %}
							{% assign items = site[page.collection] | where: "section", page.section | sort_natural: "title" %}
							{% comment %} First do the index {% endcomment %}
							{% for item in items %}
								{% if item.url contains "index.html" %}
									<a class="{% if page.title == item.title %}fw-bold{% endif %}" href="{{ item.url | remove: "index.html" }}">{{ item.title }}</a>
									<hr class="mt-2 mb-2">
								{% endif %}
							{% endfor %}
							<ul class="list-unstyled">
								{% comment %} Then the pages not in categories {% endcomment %}
								{% for item in items %}
									{% unless item.url contains "index.html" or item.category %}
										<li class="li-bullet {% if page.title == item.title %}fw-bold{% endif %}"><a href="{{ item.url | remove: ".html" }}">{{ item.title }}</a></li>
									{% endunless %}
								{% endfor %}
								{% comment %} Finally, the other pages {% endcomment %}
								{% for cat in site.data[page.collection].categories[page.section] %}
									<li>
										<details {% if page.category == cat.key or page.category.first and page.category contains cat %}open{% endif %}>
											<summary>{{ cat.title }}</summary>
											<ul>
												{% for item in items %}
													{% unless item.category == cat.key or item.category.first and item.category contains cat.key %}
														{% continue %}
													{% endunless %}
													<li class="{% if page.title == item.title %}fw-bold{% endif %}"><a href="{{ item.url | remove: ".html" }}">{{ item.title }}</a></li>
												{% endfor %}
											</ul>
										</details>
									</li>
								{% endfor %}
							</ul>
						</div>
					</div>
					<div class="col-md-9">
						<h1 class="mb-1">{{ page.long_title | default: page.title }}</h1>
						<hr class="mt-0">
						{% include anchor-headings.html html=content anchorBody="<small>#</small>" anchorClass="header-anchor" %}
						<div class="alert alert-secondary small-alert" role="alert">
							{{ site.data[page.collection].strings.need-help }}
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>

	{% include footer.html %}

	{% include common-js.html %}
</body>
</html>