---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.collection | default: "en-US" }}" {% if site.data.rtl contains page.collection %}dir="rtl"{% endif %}>
{% include head.html%}

<body>
	<div class="content">
		{% include nav.html %}

		<main>
			<div class="container-fluid main-content">
				{% include language-alert.html %}
				<div class="row pt-5">
					<div class="col-sm-3">
						<div class="rounded-3 sidebar-container mb-3 p-3">
							<!-- get category list -->
							{% assign items = site[page.collection] | where: "section", page.section | sort_natural: "title" %}
							<ul class="list-unstyled">
								<!-- First do the index -->
								{% for item in items %}
									{% if item.url contains "index.html" %}
										<li class="li-bullet {% if page.title == item.title %}fw-bold{% endif %}"><a href="{{ item.url | remove: "index.html" }}">{{ item.title }}</a></li>
									{% endif %}
								{% endfor %}
								<!-- Then the pages not in categories -->
								{% for item in items %}
									{% unless item.url contains "index.html" or item.category %}
										<li class="li-bullet {% if page.title == item.title %}fw-bold{% endif %}"><a href="{{ item.url | remove: ".html" }}">{{ item.title }}</a></li>
									{% endunless %}
								{% endfor %}
								<!-- Finally, the other pages -->
								{% for cat in site.data[page.collection].categories[page.section] %}
									<li>
										<details {% if page.category == cat.key or page.category.first and page.category contains cat %}open{% endif %}>
											<summary>{{ cat.title }}</summary>
											<ul>
												{% for item in items %}
													{% unless item.category == cat.key or item.category.first and item.category contains cat.key %}
														{% continue %}
													{% endunless %}
													<li class="{% if page.title == item.title %}fw-bold{% endif %}"><a href="{{ item.url | remove: ".html" }}">{{ item.title }}</a></li>
												{% endfor %}
											</ul>
										</details>
									</li>
								{% endfor %}
							</ul>
						</div>
					</div>
					<div class="col-sm-9">
						<h1>{{ page.title }}</h1>
						<hr>
						{% include anchor-headings.html html=content anchorBody="<small>#</small>" anchorClass="header-anchor" %}
					</div>
				</div>
			</div>
		</main>
	</div>

	{% include footer.html %}

	{% include common-js.html %}
</body>
</html>